<table id="playersTable" class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Nickname</th>
            <th>Level</th>
            <th>Vocation</th>
            <th>Server</th>
            <th>Premium</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td data-container="body" data-toggle="popover" data-placement="left" data-title="Last update:" data-content="31.10.2019 CET" data-trigger="hover"><a href="#" onclick="openPlayerModal()">Rycerz Ciemnosci</a></td>
            <td>153</td>
            <td>Elite Knight</td>
            <td>Antica</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Rycerz Ciemnosci</td>
            <td>153</td>
            <td>Elder Druid</td>
            <td>Antica</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Rycerz Ciemnosci</td>
            <td>153</td>
            <td>Elite Knight</td>
            <td>Antica</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Rycerz Ciemnosci</td>
            <td>153</td>
            <td>Elite Knight</td>
            <td>Antica</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Rycerz Ciemnosci</td>
            <td>153</td>
            <td>Elite Knight</td>
            <td>Antica</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Rycerz Ciemnosci</td>
            <td>153</td>
            <td>Elite Knight</td>
            <td>Antica</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Rycerz Ciemnosci</td>
            <td>153</td>
            <td>Elite Knight</td>
            <td>Antica</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Rycerz Ciemnosci</td>
            <td>153</td>
            <td>Elite Knight</td>
            <td>Antica</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Rycerz Ciemnosci</td>
            <td>153</td>
            <td>Elite Knight</td>
            <td>Antica</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Rycerz Ciemnosci</td>
            <td>153</td>
            <td>Elite Knight</td>
            <td>Antica</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>11</td>
            <td>Rycerz Ciemnosci</td>
            <td>153</td>
            <td>Elite Knight</td>
            <td>Antica</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>12</td>
            <td>Rycerz Ciemnosci</td>
            <td>153</td>
            <td>Elite Knight</td>
            <td>Antica</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>13</td>
            <td>Rycerz Ciemnosci</td>
            <td>153</td>
            <td>Elite Knight</td>
            <td>Antica</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>14</td>
            <td>Rycerz Ciemnosci</td>
            <td>153</td>
            <td>Elite Knight</td>
            <td>Antica</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>15</td>
            <td>Rycerz Ciemnosci</td>
            <td>153</td>
            <td>Elite Knight</td>
            <td>Antica</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>16</td>
            <td>Rycerz Ciemnosci</td>
            <td>153</td>
            <td>Elite Knight</td>
            <td>Antica</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>17</td>
            <td>Op Kennen</td>
            <td>153</td>
            <td>Elite Knight</td>
            <td>Antica</td>
            <td>Yes</td>
        </tr>
        </tbody>
    
</table>